html{
    font-family: 'Nunito';
    margin: 0;
}

body{
    background-color: #2a2c31;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.imgFundo{
    background-image: url("/icons/multitarefa-gray.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    background-position: 62vw bottom;
}
body .header{
    display:flex;
    align-items: center;
    flex-direction: column;
}
body .header h1{
    text-align: center;
    opacity: 0.9;
    font-size: 42px;
}
#dragToDeleteCard{
    background-color: #2f3136;
    width: 200px;
    height: 20px;
    display: flex;
    opacity: 0;
    margin-bottom:2vh;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}
.show{
    opacity: 1 !important;
}

.boards{
    display:flex;
    justify-content: space-between;
     margin-left: 0; 
     margin-right: 0;
}
.board{
    background-color: #2f3136;
    border-radius: 10px;
    border: 1px solid rgb(32,34,37);
    padding: 0 20px 10px 20px;
    margin: 0 8px;
}

.board h3{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin:0;
    color: white;
    opacity: 0.7;
    border-bottom: 1px solid rgba(255,255,255,0.2);   
}
.board h3 span{
    display: flex;
    align-items: center;
    padding:10px; 
    border-radius: 50px;
    border: 2px solid  rgba(255,255,255,0.4);
    height:10px; 
    width:10px; 
    transition:300ms;
}
.board h3 span:hover{
    border: 2px solid  rgba(255,255,255,1);
    color: white;
    opacity: 1;
    cursor:pointer;
}

.dropzone{
    padding: 16px;
    min-width: 20vw;
    min-height:20vh;
    border-radius: 10px;
    transition: 300ms;
}
.card{
    padding: 16px;
    box-shadow: 0 2px 2px -1px #fd951fcc;
    margin: 25px 0;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    background: #1a1a1c;
    transition: 300ms;
    cursor:grab;
}

.status{
    width: 30px;
    height: 8px;
    margin-bottom: 16px;
    border-radius:8px;
}
.status.green{
    background: #23d2ac;
}
.status.blue{
    background: #33adff;
}
.status.red{
    background: red;
}

.highlight{
    background-color: rgba(0,0,0,0.2);
}

.is-dragging{
    cursor: grabbing;
    background-color: rgba(0,0,75);
    opacity: 0.2;
}

.over{
    cursor: copy;
    background-color: rgba(0,75,0,0.2);
}

@media(max-width: 1000px){
    .boards{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .board{
        margin: 10px 16px;
    }
}